defaults:
  - _self_
  - override hydra/hydra_logging: disabled
  - override hydra/job_logging: disabled

hydra:
  output_subdir: null
  run:
    dir: .

datamodule:
  _target_: binding_affinity.data.datamodule.DataModule
  datadir: data/
  batch_size: 64
  graph_radius: 6
  n_neighbors: 10
checkpoint: "logs/runs/2025-05-04/18:27:11/checkpoints/epoch_196.ckpt"

lightning:
  _target_: binding_affinity.model.lightning.AffinityModel
  model:
    _target_: binding_affinity.model.invariant.InvariantGNN
    node_vocab_size: 100
    node_dim: 32
    edge_dim: 32
    n_layers: 3
    dropout: 0.3

  optimizer_fn:
    _target_: torch.optim.Adam
    _partial_: true
    lr: 0.0001
    weight_decay: 1.0

  loss:
    _target_: torch.nn.MSELoss
    reduction: mean

trainer:
  _target_: lightning.Trainer
  accelerator: auto  # cpu, gpu, mps
  devices: 1
  max_epochs: 200
  log_every_n_steps: 10
  deterministic: true
